.confirmBox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.confirmBoxContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 75%; /* Could be more or less, depending on screen size */
    box-sizing: border-box;
    border: 5px solid #78BE20;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.confirmBoxContent button {
    height: 8%;
    width: 15%;
}

.confirmBoxContent button#bookButton {
    margin-left: 35%;
}
div#step1,#step2,#step3,#step4 {
    display: inline-block;
    box-sizing: border-box;
    border: 5px solid #78BE20;
    width: 24%;
    min-height: 220px !important;
    padding: 1%;
    margin: 0.30%;
    overflow: auto;
} 

div#step5 {
    box-sizing: border-box;
    border: 5px solid #78BE20;
    margin: 0.4%; 
}

div#step5 textarea {
    display: block;
    margin: 0 auto;
    margin-bottom: 1%;
    width: 50%;
    height: 20%;
    font-size: 16pt;
}

div#step5 p {
    margin-left: 25%;
}

div#step5 h3 {
    margin-left: 25%;
}

input#nameInput {
    margin-bottom: 5%;
}

input, select {
    width: 97% !important;
    font-size: 16pt !important;
}

p {
    font-size: 110%;
}

body {
    padding: 0%;
    margin: 0%;
    border: 0px;
}

html {
    padding: 0%;
    margin: 0%;
    border: 0px;
}

div#confirmDiv {
    box-sizing: border-box;
    border: 5px solid #78BE20;
    padding-bottom: 1%; 
}

div#confirmDiv p {
    text-align: center;
}

div#confirmDiv button{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 30%;
    font-size: 16pt;
}

div.content {
    margin-left: 15%;
    width: 70%;
    height: 100%;
    display: block;
}

div.footer {
    margin-top: 2%;
}

div#inputs {
    height: 100%;
}