/* Stats page*/
.statistics {
	margin: auto;
	width: 70%;
	height: 500px;
}
.panel{
	float: left;
	margin-top: 15px;
	width: 46%;
	padding-left:15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #46494E;
}
.panel h3{
	text-align: center;
}
.panel table{
	
	width: 100%;
	border-collapse: collapse;
}
.panel table tr td, .panel table tr th{
	border: 1px solid black;
}
.panel table tr td{
	text-align:center;
}
.right{
	float: right ;
}
.panel h2{
	text-align: center;
}